<div class="selectedBookDetails_page">
  <mat-card class="form_card">
    <mat-card-header>
      <mat-card-title
        ><span class="selectedBook_title">{{
          selectedBook?.volumeInfo["title"]
        }}</span></mat-card-title
      >
      <mat-card-subtitle>{{ selectedBook?.id || "2334" }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="selectedBook_desc">
        <strong>Description</strong> :
        {{ selectedBook?.volumeInfo["description"] || selectedBook?.volumeInfo["title"] }}
      </p>
      <p class="selectedBook_title">
        <strong> Written By</strong> :
        {{ selectedBook?.volumeInfo["authors"] || selectedBook?.volumeInfo["title"] }}
      </p>
      <p>
        <strong> Published Data</strong> :
        {{ selectedBook?.volumeInfo["publishedData"] || selectedBook?.id }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="addBookToCart(selectedBook)">
        Add to cart
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="buyNow(selectedBook)"
        routerLinkActive="active"
        routerLink="/billing"
      >
        By Now
      </button>
    </mat-card-actions>
  </mat-card>
</div>
